.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  input{
    outline: none;
    padding: 0 8px;
    min-height: 40px;
    border-radius: 8px;
    border: 1px solid var(--app-grey-2);
    &::placeholder{
      color: var(--app-grey-1);
    }
  }
  div{
    height: 10px;
  }
}
